<div class="container question-page mx-auto">
  <div class="row">
    <div class="col-sm-10 mr-auto">
      <h2><%= @question.title %></h2>
      <div class="description">
        <div class="container">
            <p><%= @question.description %></p>
            <p><%= @question.id %> Q ID</p>
            <p><%= @question.user_id %>User ID</p>
            <p><%= @question.user.email %>User ID</p>
            <p><% if signed_in?%>
                <%= current_user.email %>Current ID
                <%end%>
            </p>
        </div>
        <div class="row">
          <div class="Home">
            <%=link_to 'Volver',root_path, class:'btn btn-link' %>
          </div>
          <% if signed_in? && @question.user == current_user  %>
            <div class="Options ml-auto">
              <div class="row ">
                <div class="Editar ">
                  <%=link_to 'Editar',edit_question_path,class:'btn btn-link' %>
                </div>
                <div class="Eliminar">
                  <%= link_to "Eliminar", @question, method: :delete, data:{confirm: "¿Está seguro que desea eliminar este post"},class:'btn btn-link' %>
                </div>
              </div>
            </div>
            <% end %>
        </div>
        <hr />


        <div class="Comentarios">
          <h4>Comentarios</h4>

          <%@question.comments.each do |comment| %>
            <div class="panel panel-default bg-light rounded border">
              <div class="container">
                <div class="panel-body" >
                  <%= comment.body %>
                </div>
                <div class="panel-heading text-right">
                  <span class="text-muted"><%= "#{comment.user.email} #{time_ago_in_words(comment.created_at)} el #{l(comment.created_at, format: :long)}" %></span>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <% if signed_in? && @question.user == current_user %>
      		<%= form_for @comment, :url => comments_path do |f| %>
      		<div class="form-group">
      			<p>
      				<%= f.hidden_field :commentable_type, value: "Question" %>
      				<%= f.hidden_field :commentable_id, value: @question[:id] %>
      				<%= f.hidden_field :user_id, value: current_user[:id]  %>
      				<%= f.text_area :body, class: "form-control", placeholder: "Agrega tu comentario", rows: 2 %>
      			</p>
      		</div>
      		<div class="actions text-right">
      			<%= f.submit "Enviar comentario", class: "btn btn-link btn-sm"%>
      		</div>
      		<% end %>
      	<% end %>
        <hr />
        <br />


        <div class="Respuestas">
          <h4>Respuestas</h4>
          <%@question.answers.each do |answer| %>
            <div class="panel panel-default bg-light rounded border">
              <div class="container">
                <div class="panel-body" >
                  <%= answer.description %>
                </div>
                <div class="panel-heading text-right">
                  <span class="text-muted"><%= "#{answer.user.email} #{time_ago_in_words(answer.created_at)} el #{l(answer.created_at, format: :long)}" %></span>
                </div>
              </div>
            </div>
          <% end %>
          <br />
          <div class="Res-comments">

          </div>
        <div class="Res-pregunta">
            <!-- Porque no puedeo habilitarla solo cuando sean usuarios diferentes  -->
          <% if user_signed_in? %>
          <hr>
          <h4>Tu Respuesta</h4>
            <%= form_for @answer, :url => answers_path do |f| %>
              <%= f.hidden_field :question_id, value: @question[:id] %>
              <%= f.hidden_field :user_id, value: current_user[:id] %>
              <div class="form-group">
               <%= f.text_area :description, rows: 3, class: "form-control", placeholder:"Escribe tu respuesta a la pregunta" %>
              </div>
               <%= f.submit 'Enviar Respuesta', class: 'btn btn-link' %>
             <% end %>
          <% end %>
        </div>





        </div>
      </div>
  </div>
</div>
