<div class="container question-page mx-auto">
  <div class="container">
    <div class="row">
      <!-- Votos preguntas -->
      <div class="container Vote">
        <div class="row">
          <% if @question.votes.exists?(user: current_user) %>
            <%= link_to delete_vote_path(@question.id), method: :post, class: "question-upvote upvote-active" do %>
               <h5>Votos <%= @question.votes.count%> </h5>
            <% end %>
          <% else %>
            <%= link_to vote_question_path(@question.id), method: :post, class: "question-upvote" do %>
            <h5>Votos <%= @question.votes.count%> </h5>
            <% end %>
          <% end %>
        </div>
        <div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col mr-auto">
      <div class="description">
        <div class="container">
          <div class="card" >
            <div class="card-body">
              <h5 class="card-title"><%= @question.title %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= @question.user.email %></h6>
              <p class="card-text"><%= @question.description %></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="Home">
            <%=link_to 'Volver',root_path, class:'btn btn-link' %>
          </div>
          <% if signed_in? && @question.user == current_user  %>
            <div class="Options ml-auto">
              <div class="row ">
                <div class="Editar ">
                  <%=link_to 'Editar',edit_question_path,class:'btn btn-link' %>
                </div>
                <div class="Eliminar">
                  <%= link_to "Eliminar", @question, method: :delete, data:{confirm: "¿Está seguro que desea eliminar este post"},class:'btn btn-link' %>
                </div>
              </div>
            </div>
            <% end %>
        </div>

        <hr />


        <div class="Comentarios">
          <div class="Comentario cont">
            <h4>Comentarios</h4>
  	        <% unless @question.comments.count == 0%>
  	          <h4>(<%= @question.comments.count %>) Comentarios</h4>
  	        <% end %>
          </div>

          <%@question.comments.each do |comment| %>
            <div class="panel panel-default bg-light rounded border">
              <div class="container">
                <div class="panel-body bg-transparent border-info" >
                  <%= comment.body %>
                </div>
                <div class="panel-heading text-right">
                  <span class="text-muted"><%= "#{comment.user.email} #{time_ago_in_words(comment.created_at)} el #{l(comment.created_at, format: :long)}" %></span>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <% if signed_in? %>
      		<%= form_for @comment, :url => comments_path do |f| %>
      		<div class="form-group">
      			<p>
      				<%= f.hidden_field :commentable_type, value: "Question" %>
      				<%= f.hidden_field :commentable_id, value: @question[:id] %>
      				<%= f.hidden_field :user_id, value: current_user[:id]  %>
      				<%= f.text_area :body, class: "form-control", placeholder: "Agrega tu comentario", rows: 2 %>
      			</p>
      		</div>
      		<div class="actions text-right">
      			<%= f.submit "Enviar comentario", class: "btn btn-link btn-sm"%>
      		</div>
      		<% end %>
      	<% end %>
        <hr />
        <br />


        <div class="Respuestas">
  <!--  Votos respuesta-->
          <div class="Respuesta cont">
  	        <% unless @question.answers.count == 0 %>
  	          <h4>(<%= @question.answers.count %>) Respuestas</h4>
  	        <% end %>
          </div>
          <%@question.answers.each do |answer| %>
          <div class="card bg-light mb-3">
            <div class="card-header bg-transparent border-warning "><span class="blockquote-footer"><%= "#{answer.user.email} #{time_ago_in_words(answer.created_at)} el #{l(answer.created_at, format: :long)}" %></span></div>
              <div class="card-body">
              <h8 class="card-title">Respondio</h8>
              <p><cite><%= answer.description %></cite></p>
            </div>
          </div>
          <% end %>
        </div>


          <br />
          <div class="Res-comments">
            <% if signed_in? && @question.answers.exists? %>
          	<%= form_for @comment, :url => comments_path do |f| %> <!--#Tambien funciona con  @question.answers.build-->
          	<div class="form-group">
          		<p>
          			<%= f.hidden_field :commentable_type, value: "Answer" %>
          			<%= f.hidden_field :commentable_id, value: @answer[:id] %>
          			<%= f.hidden_field :user_id, value: current_user[:id]  %>
          			<%= f.text_area :body, class: "form-control", placeholder: "Comenta esta Respuesta", rows: 2 %>
          		</p>
          	</div>
          	<div class="actions text-right">
          		<%= f.submit "Comentar", class: "btn btn-link btn-sm"%>
          	</div>
          	<% end %>
          	<% end %>
            <div class="">

            </div>

          </div>

          <!--  Respuesta a pregunta-->
        <% unless current_user == @question.user %>
          <div class="Res-pregunta">
          <!-- Porque no puedeo habilitarla solo cuando sean usuarios diferentes  -->
          <% if user_signed_in? %>
          <hr>
            <h4>Tu Respuesta</h4>
            <%= form_for @answer, :url => answers_path do |f| %>
              <%= f.hidden_field :question_id, value: @question[:id] %>
              <%= f.hidden_field :user_id, value: current_user[:id] %>
              <div class="form-group">
                <%= f.text_area :description, rows: 3, class: "form-control", placeholder:"Escribe tu respuesta a la pregunta" %>
              </div>
              <%= f.submit 'Enviar Respuesta', class: 'btn btn-link' %>
            <% end %>
          <% end %>
          </div>
        <%end%>





        </div>
      </div>
  </div>
</div>
