<div class="container">
  <div class="row">
    <div class="col-md-4 mx-auto card p-0 bg-light">
      <div class="card-header text-info h4"><i class="fas fa-users"> Ingresar  </i> </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="card-body">
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <% end -%>

        <div class="form-group">
          <%= f.submit "Ingresar", class: "btn btn-info btn-block" %> <br>
          <p class="form-group">¿No tienes cuenta? <%= link_to ' Registrate', new_registration_path(resource_name), class: "form-group text-info"  %></p>
          <p class="form-group"> <%= link_to '¿Olvidaste tu contraseña?', new_password_path(resource_name), class: "form-group text-info"  %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<br>
