<!DOCTYPE html>
<html>
  <head>
    <title>FlowOver</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Iconos -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>

  <body>

 <!-- Nav bar head -->
  <nav class="navbar navbar-expand-lg navbar-light navbar-dark bg-dark">
   <!-- container -->
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- collapse Nav-->
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <%= link_to "Flow Over", root_path, class: "nav-link text-light" %>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <%= link_to "Questions", root_path, class: "nav-link text-light" %>
          </li>
        </ul>
        <form class="form-inline my-2 ">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>

        <div class="row">
            <% if user_signed_in? %>
            <!-- <%= link_to "Pregunta", new_question_path ,class: "nav-link text-light active"%> -->
              <%= link_to 'Salir', destroy_user_session_path, method: :delete ,class: "nav-link text-light active"%>
            <% else %>
              <%= link_to 'Ingresar', new_user_session_path ,class: "nav-link text-light" %>
              <%= link_to "Registrarse", new_user_registration_path ,class: "nav-link text-light active"%>
            <% end %>
        </div>
        </div> <!-- .Collapse Nav-->
      </div> <!-- .Container  -->
    </nav>  <!-- .Nav bar end -->

    <% if user_signed_in? %>
      <div>Hola ,<%= current_user.email %></div>
    <% end %>
    <br />
    <div class="container">
      <% flash.each do |key, value| %>
        <% if value.class == String %>
          <%= content_tag(:div, value, class: "alert alert-#{key}") %>
        <% else %>
          <%= content_tag(:ul, class: "alert alert-#{key}") do %>
            <% value.each do |error| %>
              <%= content_tag(:li, error) %>
            <% end.join.html_safe %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="container">
    <%= yield %>
    </div>

  </body>
</html>
